<nav class="sidebar">
    <!-- Header -->
    <div class="sidebar-header">
        <svg class="header-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-video-camera"></use>
        </svg>
        <h2 class="header-title">Watch</h2>
    </div>

    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-item">
            <a href="index.html" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-film"></use>
                </svg>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="index.html" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-heart"></use>
                </svg>
                <span class="link-text">Favourites</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="index.html" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-trending-up"></use>
                </svg>
                <span class="link-text">Trending</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="index.html" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-calendar"></use>
                </svg>
                <span class="link-text">Coming soon</span>
            </a>
        </li>
    </ul>

    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-users"></use>
                </svg>
                <span class="link-text">Community</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-message-circle"></use>
                </svg>
                <span class="link-text">Social</span>
            </a>
        </li>
    </ul>

    <ul class="sidebar-menu-list footer-menu">
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-sliders"></use>
                </svg>
                <span class="link-text">Settings</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-link">
                <svg class="icon" width="20" height="20">
                    <use href="/img/sprite.svg#icon-log-out"></use>
                </svg>
                <span class="link-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>