<section class="section trending">
    <div class="container">
        <h2 class="trending-title">Trending</h2>
        <div class="slider-box">
            <button type="button" class="slider-arrow prev-btn">←</button>
            <div class="movie-list-container">
                <ul class="movie-list">
                </ul>
            </div>
            <button type="button" class="slider-arrow next-btn">→</button>
        </div>
        <button type="button" class="load-more-btn hidden">Load more</button>
    </div>
</section>